
/* Style the card */
.card{
    background-color: #222; /* Card background color */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5%;
    justify-content: space-around;
    align-items: space-between;
    box-shadow: 5px 5px 5px black;
     display: flex;
    flex-wrap: wrap;/* Use flexbox */
    align-items: center;
}


/* Style subject name */
.subject-name {
    margin-right: 10px;
}
.Attendance {
    width: 15%;
/*    height: 20%;*/
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
.Attendance input[type="text"]{
    height:30%;
    background-color: #222; /* Input background color */
    color: #fff; /* Text color */
    width:40%;
    border: none;
    text-align: center;
    border-radius: 5px;
}
/* Style the tick and cross buttons */
.card button {
    border: none;
    border-radius:2em ;
    cursor: pointer;
    color: #fff; /* Button color */
    margin-left: 10px; /* Adjust as needed */
    height: 25px;
    width: 25px;
    font-size: 16px;
}
/* Progress bar */
.progress-bar {
    --bgcolor:limegreen;
    background-color: var(--bgcolor);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px; /* Adjust spacing */
    position: relative;
    box-shadow: 0 0 10px var(--bgcolor);
}

/* Progress */
.progress {
 background-color: #000;
  position: absolute;
  left: 10%;
  top: 10%;
  border-radius: 2em;
  height: 80%;
  width:80%;
  font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#present{
    background:green;
}
#present:hover{
    background:#0080008f;
}
#absent{
    background:transparent;
/*    font-size: em;*/
}
#absent:hover{
/*    background:orangered;*/
/*    font-size: em;*/
    text-shadow: 1px 1px 10px red;
}
#del{
     background:#0064ff;
}
#del:hover{
    background:#1d81ff;
}
#edit{
    background: transparent;
    font-size: 1.1em;
}
#edit:hover{
    text-shadow: 1px 1px 10px yellow;
}